.container {
  width: 100%;
  height: 100%;
  .center {
    position: absolute;
    width: 500px;
    height: 350px;
    border: 1px solid #888;
    border-radius: 10px;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -175px;
    .header {
      height: 50px;
      width: 100%;
      font-size: 35px;
      color: blue;
      text-align: center;
      line-height: 50px;
    }
    .demo-input-suffix {
      display: flex;
      flex-wrap: wrap;
      height: 270px;
      .inp {
        display: flex;
        width: 80%;
        margin: 30px auto;
        span.sp {
          display: inline-block;
          width: 80px;
          height: 40px;
          color: cyan;
          line-height: 40px;
          font-size: 20px;
          text-align: center;
        }
      }
    }
    .btn {
      width: 100%;
      margin: auto;
      height: 20px;
      display: block;
      el-radio {
        display: inline-block;
        padding-left: 10px;
      }
    }
    .btn-login {
      display: block;
      width: 150px;
      margin: 10px auto;
      font-size: 16px;
    }
    .tips {
      position: absolute;
      display: block;
      color: red;
      bottom: 0;
      height: 40px;
      line-height: 40px;
      right: 0;
      margin-right: 40px;
    }
  }
  .register {
    position: absolute;
    height: 29px;
    right: 0;
    color: #fff;
    line-height: 29px;
    line-height: 10px;
    background: orange;
    border-radius: 10px;
    border: none;
  }
}
